body {
    background-color: rgb(182, 169, 194);
}

p{
    font-family: courier new;
    color:rgb(14, 7, 112);
     text-align: justify;
     font-size: 20px;

}


.parte-edit{
    background-color: rgb(186, 173, 198);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

h1{
    color: #663662 ;
    font-family: montserrat;
    font-size: 54px;
    font-weight: 700;
}

footer{
    padding: 4rem;
    display: 16px;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-1{
    font-family:inter ;
    font-size: 14px;
    font-weight: 500;
}
span{
    color: white;
}
.logo{
    font-family: teko;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #F29AAD, black,#D99CA9);
}

.subtitulo{
    color: #e7079d;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #663662;
}

.curiosidades{
    font-family: teko;
    color:rgb(14, 7, 112);
     text-align: justify;
     font-size: 20px;

}

.infor{
    font-family: Courier;
    font-size: 20px;
}

.img-parte-1{
    max-width: 150%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow:clip ;

}




.parte-final{
    background-color: rgb(171, 152, 189);
    font-size: 60%;
}

